<% provide(:title, @user.name) %>

<h1>Hi
    <%= @user.name %>!
</h1>
<h2>
    Welcome to PA1 RAILS!
    <br>
    Free free to browse around. You can view the subject list, instructors, or courses!
</h2>
<br>
<br>
<h2>
    Courses Currently Enrolled In:

    <ul>
        <% Enrollment.all.each do |enroll| %>
        <li><%= enroll.name %></li>
        <% end %>
    </ul>

</h2>
