<% provide(:title, @user.name) %>

<h1>Hi
    <%= @user.name %>!
</h1>
<h2>
    Welcome to PA RAILS!
    <br>
    Free free to browse around. You can view the subject list, instructors, or courses!
    <br>
    As of Part 2, you can now enroll in courses and search for courses!
</h2>
<br>
<br>
<h2>
    Courses Currently Enrolled In:

    <ul class="a">
        <% Enrollment.all.each do |enroll| %>
          <% if enroll.user_id == current_user.id %>
            <li><%= enroll.name %></li>
          <% end %>
        <% end %>
    </ul>

</h2>
