<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>Hi
        <%= @user.name %>!
      </h1>
      <h2>
        Welcome to PA1 RAILS!
        <br>
        Free free to browse around. You can view the subject list, instructors, or courses!
      </h2>
    </section>
  </aside>

</div>
