<% provide(:title, 'Search Courses') %>

<%= form_tag(ucourses_path, :method => "get", id: "search-form", remote: true) do %>
Subject Filter:
<%= select_tag "browse", options_from_collection_for_select(Subject.all, "subject_id", "name", params[:browse]), {:include_blank => true}%>
<%= text_field_tag :search, params[:search], placeholder: "Course Name" %>
<% end %>

<br>
<br>
<% if logged_in? %>
<div id="courses">
    <%= render 'search' %>

</div>
<% else %>
<h2>You must log in or sign up first</h2>

<% end %>

<script>
$(document).ready
$(function() {
  $("#search-form input").keyup(function() {
    $.get($("#search-form").attr("action"), $("#search-form").serialize(), null, "script");
    return false;
  });
  $("#browse").click(function(){
    $.get($("#search-form").attr("action"), $("#search-form").serialize(), null, "script");
    return false;
  });
});
</script>
