

<footer class="footer">
  <small>
    COSI 166B PA1 RAILS
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'http://cosi166b-s2017.s3-website-us-west-2.amazonaws.com/content/topics/pa/pa_rails_1.md/' %></li>
    </ul>
  </nav>
</footer>
